@charset "utf-8";
/* CSS Document */


 @media (min-width: 768px) {

.top-setting-bar h3 .backArrow {
	display:none
}
 #mainpage {
 min-height:700px
}
.left_panel {
	min-height:500px
}
.mobile-menu {
 display:none
}
.left_panel {
 max-width:250px
}
 .chat-section .top-setting-bar {
 min-height:83px
}
.parallax-banner-sm {
 height:250px
}
.profile-section {
 margin-top: -230px
}
.banner .carousel-caption {
 right: 0;
 left: 0;
}
#page-content {
 padding-top: 65px
}
.menuA .navbar-default .navbar-nav > li > a {
	/*color:#fff;
	font-size: 15px;*/
	padding-top: 10px;
    padding-bottom: 10px
}
.general-form .img-circle {
 width: 120px;
 height: 120px;
 top: -60px;
 left: calc(50% - 60px);
}
.menuA .navbar-form .form-control {
 min-width:320px
}
.signup {
 /*margin:40px 0*/
}
.signup:before {
 content:'';
 position:absolute;
 left:0;
 top:0;
 width:50%;
 height:100%;
 z-index: -1;
}
.signup:after {
 content:'';
 position:absolute;
 right:0;
 top:0;
 height:100%;
 width:50%;
 height:100%;
 z-index: -1;
}
.experts {
 background-image: url(../images/experts.jpg);
 background-position:center center;
 background-repeat:no-repeat;
 background-size:100% 100%;
}
.freeStart .btn-white {
 min-width: 150px;
 height: 50px;
 line-height: 1.8;
 position: relative;
 transform: translateY(50px);
 z-index: 99;
 float:right;
}
.freeStart:after {
 content: '';
 background-color: #2c597a;
 position: absolute;
 left: 52%;
 height: 200%;
 width: 60%;
 top: -50%;
 transform: rotate(15deg);
}
.form-horizontal .control-label {
 margin-bottom: 5px;
}
.skilllink ul li {
 float:left;
 width:33.333%;
}
.dash_content {
 margin-bottom: 20px;
}
.desk-text-right {
 text-align:right
}
}
 @media (min-width: 992px) and (max-width: 1199px) {
.navbar-brand {
 max-width: 250px;
}
 }
 @media (min-width: 992px) {

.dpl-0 {
	padding-left:0
}
.right_panel {
	position:absolute;
	max-width:280px;
	margin-bottom:0;
}
.secondary_info {
 position:absolute;
}
.menuA .navbar-default .navbar-collapse {
 margin-top:10px
}
.partner ul li {
 width:16.66666667%
}
.findtalent ul.skills {
 max-width: 680px
}
.breadcrumb-classic h1 {
 font-size:40px;
}
.not-found .text-404 {
 font-size: 200px;
 line-height: 200px;
}
.modal-sm {
 width: 350px;
}
.sec {
 padding:40px 0;
}
.home .sec {
 padding:60px 0;
}
.experts {
 min-height:500px;
}
.diamond-lg {
 width: 320px;
 height: 320px;
}
.diamond-lg h3 {
 font-size:21px;
 transform: translateY(90px);
}
.diamond-sm {
 width: 200px;
 height: 200px;
}
.diamond-sm h3 {
 font-size:18px;
 transform: translateY(70px);
}
/* BOOTSTRAP CUSTOMIZE */

/*.navbar-nav>li {
	float: left;
}
.navbar-nav {
    float: left;
}*/
.navbar-collapse.in {
 overflow-y: visible;
}
/*.navbar-header {
    float: left;
}*/
.navbar-right {
/*float: right!important;
    margin-right: -15px;*/
}
/* BOOTSTRAP CUSTOMIZE END */

}

@media (min-width: 1020px) {
	.menuA .navbar-form .form-control {
		min-width:330px
	}
}

@media (min-width: 1050px) {
	.menuA .navbar-form .form-control {
		min-width:340px
	}
}

@media (min-width: 1080px) {
	.menuA .navbar-form .form-control {
		min-width:360px
	}
}

@media (min-width: 1110px) {
	.menuA .navbar-form .form-control {
		min-width:380px
	}
}

@media (min-width: 1120px) {
	.menuA .navbar-form .form-control {
		min-width:400px
	}
}

@media (min-width: 1150px) {
	.menuA .navbar-form .form-control {
		min-width:450px
	}
}

 @media (min-width: 1200px) {

.container-fluid {
	max-width:1366px
}
.menuA .navbar-form .form-control {
	min-width:480px
}

}

@media (min-width: 1220px) {
	.menuA .navbar-form .form-control {
		min-width:500px
	}
}

@media (min-width: 1260px) {
	.menuA .navbar-form .form-control {
		min-width:550px
	}
}

@media (min-width: 1320px) {
	.menuA .navbar-form .form-control {
		min-width:600px
	}
}

 @media (max-width: 991px) {
.process .border-bottom {
    border-bottom: 1px solid #e1e1e1
}
.team {
 margin-bottom:25px;
}
.client_profile > .media-right {
 display:block
}
}

 @media (min-width: 768px) and (max-width: 991px) {

/* BOOTSTRAP CUSTOMIZE */
.navbar-toggle {
 display: block
}
.navbar-collapse.collapse {
 display: none!important;
/*height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;*/
}
.navbar-nav>li {
 float: none;
}
.navbar-nav {
 float: none;
}
.navbar-header {
 float: none;
}
.navbar-right {
 float: none!important;
 margin-right: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
 margin-left: 0
}
/* BOOTSTRAP CUSTOMIZE END */

.sec {
 padding:40px 0;
}
.home .sec {
 padding:60px 0;
}
.diamond-lg {
 width: 250px;
 height: 250px;
}
.diamond-lg h3 {
 font-size:16px;
 transform: translateY(70px);
}
.diamond-sm {
 width: 150px;
 height: 150px;
}
.diamond-sm h3 {
 font-size:15px;
 transform: translateY(40px);
}
.partner ul li {
 width:25%;
}
.findtalent ul.skills {
 max-width:550px
}
.listing .media-object {
 max-width: 96px;
}
.breadcrumb-classic h1 {
 font-size:36px;
}
.not-found .text-404 {
 font-size: 150px;
 line-height: 150px;
}
}
 @media (max-width: 767px) {
/*.signup:before, .signup:after {
	width:100%
}*/
.navbar-collapse.in {
    overflow-y: visible;
}
.profile-imgEc {
	margin-left: 12px
}
.left_panel {
 display:none
}
.parallax-banner-sm {
 height:200px
}
.profile-section {
 margin-top: -130px
}
.happyClient .carousel-caption {
 position: unset;
}
.signup aside {
 padding-top: 40px;
 padding-bottom: 40px;
}
.signup {
 margin:40px 0;
 padding:0 !important
}
.general-form .img-circle {
 width: 80px;
 height: 80px;
 top: -40px;
 left: calc(50% - 40px);
}
.xs-block {
 display:block;
 width:100%
}
.menuA .xs-block {
 margin-top: 5px
}
.banner .carousel-caption {
 left:15px;
 right:15px;
 bottom:25px;
}
.carousel-caption .btn {
 font-size:14px;
 height:auto;
 width:170px;
 margin-bottom: 10px;
 padding: 6px;
}
.pricing-table {
 display:block;
 overflow-x:scroll;
}
.pricing-table > .price {
 white-space: nowrap;
}
ul.skills {
 margin:0
}
.experts {
 background-color:#29b6f6;
 color:#fff;
}
.experts h3 {
 font-size:18px;
}
.title {
 font-size:30px
}
.client .img-circle {
 max-width:80px;
}
.listing .media .media-object {
 max-width: 64px;
}
.not-found h3 {
}
.not-found .text-404 {
 font-size: 100px;
 line-height: 100px;
}
.labelBlock p > label {
 width:100%;
}
.labelBlock p > span {
 width:100%;
}
.widget-workroom {
 display: block;
 width: 100%;
 margin-bottom: 15px;
}
.start_time, .end_time, .dash_search {
 margin-bottom: 15px;
}
ul.sitemap li {
 width:100%
}
.listing .media .media-right {
 display:block;
 padding-right: 0;
}
.listing .media .media-right > img {
 max-width:50px
}
}
 @media (min-width: 481px) and (max-width: 767px) {
.col-50 {
 width:50%
}
.sec {
 padding:60px 0;
}
.partner ul li {
 width:33.3333%;
}
}
@media (min-width: 481px) {
.visible-mobile {
 display:none !important
}
}
 @media (max-width: 480px) {
.sec {
 padding:40px 0;
}
.title {
 font-size:24px
}
.partner ul li {
 width:100%;
}
.twitter-timeline {
 width:100% !important;
}
.hidden-mobile {
 display:none !important
}
}
 @media (max-width:767px) {
.navbar-nav .open .dropdown-menu {
 position: inherit;
}
#page-content {
 padding-top: 55px;
}
.navbar-brand {
 max-width: 155px;
}
/* ************************************************************************************************************************************** */
/* adjust body when menu is open */
body.slide-active {
 overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
 margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content.slide-active {
 position: fixed;
 left: 0;
 top:50px;
}
#page-content.slide-active {
 padding-top: 0
}
.navbar-header.slide-active {
 position: fixed;
 top: 19px;
 padding-left:12px;
 width: 100%;
}

/* icon bar prettyup - optional */

.navbar-header {
 position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
 position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */

	#slide-nav .container {
 margin: 0!important;
 padding: 0!important;
 height:100%;
}
 #slide-nav .navbar-header {
 margin: 0 auto;
}
 #slide-nav .navbar.slide-active {
 position: absolute;
 width: 80%;
 top: -1px;
 z-index: 1000;
}
 #slide-nav #slidemenu {
 background: #fff;
 left: -100%;
 width: 75%;
 min-width: 0;
 position: fixed;
 padding-left: 0;
 z-index: 2;
 top: 0;
 margin: 0;
 border-right: 1px solid #ddd;
 height: 100%;
}
 #slide-nav #slidemenu .navbar-nav {
 min-width: 0;
 width: 100%;
 margin: 0;
}
 #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
 min-width: 0;
 white-space: normal;
}
 #slide-nav {
 border-top: 0
}
 #slide-nav.navbar-inverse #slidemenu {
 background: #333
}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
 position: fixed;
 top: 0;
 height: 100%;
 bottom:0;
 width: 100%;
 left: -100%;
 background-color: #fff;
 background-color:rgba(0, 0, 0, 0.5);
 z-index: 9;
}
 #navbar-height-col.inverse {
 background: #333;
 z-index: 1;
 border: 0;
}
 #slide-nav .navbar-form {
 width: 100%;
 margin: 8px 0;
 text-align: center;
}
 #slide-nav .navbar-form .input-group {
 display:block
}
 #slide-nav .navbar-form .form-control {
 text-align: center;
 border: 1px solid #ddd;
 margin: 5px 0;
}
 #slide-nav .navbar-form .btn, #slide-nav .dropdown-menu {
 width: 100%
}
 .navbar-collapse {
 padding:0
}
.profileSe {
 left:0 !important
}
}
@media (max-device-width: 480px) and (orientation: landscape) {
 .navbar-fixed-top .navbar-collapse,  .navbar-fixed-bottom .navbar-collapse {
 max-height: 300px;
}
}
