@charset "utf-8";
/* CSS Document */

.featuredimg {
	left:-4px;
}
.block a.edit, .block a.icon-round {
	float:left
}
#slide-nav .navbar-toggle {
    float: right
}
.text-left {
    text-align: right !important;
}
.text-right {
    text-align: left !important;
}
.language {
	margin-right:10px
}
.radio-inline, .checkbox-inline {
	padding-right:0
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-right:10px;
}
.magic-radio + label, .magic-checkbox + label {
	padding-right: 28px;
}
.magic-radio + label:before, .magic-checkbox + label:before {
	right: 0;
}
.magic-checkbox + label:after {
	right: 7px;
}
.magic-radio + label:after {
	right: 5px
}
div.dataTables_paginate {
    text-align: left;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 18px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 0;
}
.conversation_loop.other .starred {
	left:-25px;
}
.conversation_loop.me .starred {
	right:-25px;
}
.messagtext2 > a .fa-comment {
	margin-left:5px
}
.messagtext2 > a > p {
	margin-right: 25px
}
.setting-circle, .menu_hide {
	left:5px;
}
.quicknav {	
	left: 0
}
.ecdevsec .user-sidebar-container .sidebar-close-alt {
	left: 15px
}
.left_panel {
	right:0
}
.right_panel {		
	left:0
}
.headnotification {
	margin-left:15px
}

ul.notiH {
	left: 0 !important
}
.secondary_info {
	left:0
}
ul.tab li {
	float:right;
	margin-right:5px;
}
ul.tab li:first-child {
	margin-right:0;
}
.msg-count {
	left:0;
}
.table thead > tr > th.sorting,
.table thead > tr > td.sorting {
	padding-left:30px
}
.notifbox p {
    float: right;
}
.notifbox span {
	float:left;
	text-align: left;    
    padding-left: 15px;
}

@media (min-width: 768px) {

.navbar-right .dropdown-menu {
    left: auto !important;
    right: 0 !important;
}	
.signup:before {
	background-color:#29b6f6;
}
.signup:after {		
	background-color:#2C597A;	
}

}
@media (min-width: 992px) {
.process .border-right {
    border-left: 1px solid #e1e1e1
}
.process .border-left {
    border-right: 1px solid #e1e1e1
}

}

/* END CSS */