@charset "utf-8";
/* CSS Document */

@media (min-width: 768px) {

footer {
	margin-left:250px;
}
.visible-xs {
	display:none
}
.hidden-xs {
	display:block
}

}

@media (max-width: 767px) {

#content.offCanvas.isCollapse {
	padding-left: 60px;
}
.hidden-xs {
	display:none
}
.visible-xs {
	display:block
}

}