@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-Regular.ttf), url(../fonts/Quicksand-Medium.ttf), url(../fonts/Quicksand-Bold.ttf);
}

html {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px
}

a:hover {
    text-decoration: none
}

._125x {
    font-size: 1.25em;
    vertical-align: bottom;
}

._165x {
    font-size: 1.65em;
    vertical-align: bottom;
}

/* MARGIN PADDING */

.mb10 {
    margin-bottom: 10px
}

/* BOOTSTRAP */
.btn {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0
}

.list-group-item {
    padding: 0.75rem;
}

.input-group-lg > .form-control, .form-control {
    border-radius: 0;
    font-size: 1rem
}

.custom-file-label, .custom-file-label::after {
    border-radius: 0;
}

.card, .panel {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
    box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
}

.card-header {
    background-color: #FFF;
}

.card-header > h5, .card-header > h4, .panel-heading > h5, .panel-heading > h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.panel {
    margin-bottom: 10px;
    position: relative;
}

.panel .panel-heading {
    padding: 0.75rem 1rem;
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
}

.panel .panel-body {
    padding: 20px
}

.panel-blank {
    background: none;
    box-shadow: none
}

.pull-up {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.pull-up:hover {
    -webkit-transform: translateY(-4px) scale(1);
    -moz-transform: translateY(-4px) scale(1);
    -ms-transform: translateY(-4px) scale(1);
    -o-transform: translateY(-4px) scale(1);
    transform: translateY(-4px) scale(1);
    -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
    box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
    z-index: 999;
}

.navbar .navbar-brand {
    /*padding:0*/
}

.dropdown-item {
    padding: 0.25rem 0.5rem;
}

.table th[align='center'], .table td[align='center'] {
    text-align: center
}

.table th[align='right'], .table td[align='right'] {
    text-align: right
}

.table th[valign='middle'], .table td[valign='middle'] {
    vertical-align: middle
}

.table thead th, .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px;
}

.col-form-label {
    font-weight: 500
}

ul.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.custom-control-label {
    line-height: 26px;
}

.nav-pills .nav-link {
    border-radius: 0
}

.nav-fill {
    border-bottom: 1px solid #007aff;
}

/* END BOOTSTRAP */


/*Colors*/

.white {
    color: #ffffff
}

.whiteBG {
    background-color: #ffffff
}

.dark {
    color: #6f7a8a
}

.darkBG {
    background-color: #6f7a8a
}

.red {
    color: #f40a0a
}

.redBG {
    background-color: #f40a0a
}

.red-smooth {
    color: #d8605f
}

.blue {
    color: #61adff
}

.blueBG {
    background-color: #61adff
}

.green {
    color: #72b110
}

.greenBG {
    background-color: #72b110
}

.yellow {
    color: #f7cb38
}

.yellowBG {
    background-color: #f7cb38
}

.orange {
    color: #F88C00
}

.orangeBG {
    background-color: #F88C00
}

.purple {
    color: #9c27b0
}

.purpleBG {
    color: #9c27b0
}

/* */


.navbar-expand-lg .right-flex {
    flex-direction: row-reverse;
    flex: 1;
}

.form-horizontal .row {
    margin-bottom: 15px
}

.checkGroup .custom-control-inline {
    width: 31%
}

footer.isCollapse {
    margin-left: 0
}

footer {
    background-color: #2c597a;
    text-align: center;
    padding: 20px 0;
    color: #eee;
}

footer p {
    margin: 0
}

html body.fixed-navbar {
    padding-top: 4rem;
}

header .navbar-wrapper {
    width: 100%;
}

header .dropdown-toggle::after {
    display: none
}

.collapse-nav {
    color: #fff;
    font-size: 2.25em;
    line-height: 1;
    vertical-align: middle;
    height: auto
}

.delete-document-link {
    color: var(--red);
    margin-left: 20px;
}























